footer{
  opacity: 1;
}

.menulateral{
  width:100%;
	margin:5px;
}

.navigation{
  float:left;
  width:96%;
  margin-left:2%;
  margin-right:2%;
  margin-top:0.5%;
  margin-bottom:0.5%;
}

.content{
  padding:10px;
}
