body{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f0f0f5;
}

header{
  background-color: #5c5c8a;
  color: white;
  text-align: center;
  padding: 1px;
}

footer{
  background-color: #33334d;
  color: white;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

h5{
  color:inherit;
}

.menulateral{
	background:#5c5c8a;
  z-index:2;
  text-decoration:none;
}

.navigation{
  z-index:3;
  background:#a3a3c2;
  border-radius:3px;
  text-align:center;
}

div.navigation a{
  position:absolute;
  width: 150%;
  height: 18%;
  left: 0;
  opacity:0;
  z-index:10;
}

.image{
  height: 60%;
  width:60;
}

.content{
  text-align:center;
  z-index:1;
  margin-left:10%;
  margin-right:10%;
}
