header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  opacity:0.9;
}

footer{
  opacity: 0.5;
}

.menulateral{
  opacity:0.9;
  top:62px;
  color:#4babe7;
  width:3%;
	float:left;
  border-radius:0px;
  transition-duration: 0.1s;
  padding-bottom:10px;
  border-bottom-right-radius:8px;
  position:fixed;
}

.menulateral:hover{
  color:black;
  width:20%;
}

.navigation{
  margin-top:5px;
  margin-bottom:5px;
  padding:2px;
  width:100%;
  transition-duration:0.2s;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  cursor: pointer;
  height: 10%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navigation:hover{
  width:125%;
  background:#8fcbf0;
  height:10%;
}

div.navigation a{
    width: 150%;
}

.content{
  margin-top:90px;
}

.membres{
  width: 50%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
